body
{
  color: white;
  background: mediumvioletred;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name 
{
  color:white;
}
.hand_gesture
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
    color:green;
    background-color: white;
    border-radius: 5px;
    width: 100px;
}
